<script>
import gsap from "gsap";

export default {
  emits: ["elementtimeout"],
  props: {
    duration: {
      default: 13,
    },
    rotating: {},
    subtitle: {
      default: " ",
    },
    color: {
      default: "blue",
    },
    icon: {
      required: true,
    },
  },
  methods: {
    helloworld() {
      console.log("hello world");
    },
  },
  mounted() {
    var tl = gsap.timeline();
    var outersquare = this.$refs.outersquare;
    var innersquare = this.$refs.innersquare;
    var icon = this.$refs.icon;
    var subtitle = this.$refs.subtitle;
    var title = this.$refs.title;
    var progressbar = this.$refs.progressbar;
    var background = this.$refs.background;

    tl.set(outersquare, { x: 40 });
    tl.eventCallback("onComplete", () => {
      this.$emit("elementtimeout");
    });
    tl.set(title, { scale: 0 });
    tl.set(subtitle, { scale: 0 });
    tl.set(icon, { scale: 0, rotate: 270 + 45, x: 60 });
    tl.fromTo(
      outersquare,
      { scaleX: 0, scaleY: 0 },
      { ease: "power2.out", duration: 0.3, scaleY: 1, scaleX: 3 }
    );
    tl.fromTo(
      innersquare,
      { scale: 0 },
      { ease: "power2.out", scale: 1, duration: 0.3 },
      "-=0.25"
    );
    tl.to(outersquare, { x: 0, duration: 0.4, scaleX: 1, ease: "power2.out" });
    tl.to(
      innersquare,
      { x: 0, duration: 0.4, scale: 0.8, ease: "power2.out" },
      "-=0.3"
    );
    tl.to(
      icon,
      { rotate: 0, x: 0, scale: 1, duration: 1.2, ease: "power4.out" },
      "-=0.5"
    );
    tl.set(title, { scale: 1 }, "-=1.2");
    tl.from(title, { x: -1 * title.offsetWidth }, "-=1");
    tl.to(
      background,
      { duration: 0.4, width: title.offsetWidth + 20, ease: "power3.out" },
      "-=1"
    );
    tl.set(subtitle, { scale: 1 }, "-=1.3");
    tl.from(subtitle, { x: -1 * subtitle.offsetWidth }, "-=0.9");
    tl.to({}, { duration: this.duration });
    var duration = tl.duration();
    tl.to(
      progressbar,
      { duration: duration, width: title.offsetWidth + 20, ease: "linear" },
      "-=" + (duration - 0.7)
    );
    if (this.rotating) {
      tl.to(
        icon,
        {
          duration: duration,
          rotate: -360 * Math.ceil(this.duration / 10),
          ease: "linear",
        },
        "-=" + (duration - 0.7)
      );
    }

    tl.set(icon, { rotate: 0 });
    tl.to(progressbar, { x: title.offsetWidth, width: 0, duration: 0.2 });
    tl.to(title, { x: -1 * title.offsetWidth, duration: 0.2 }, "-=0.3");
    tl.to(subtitle, { x: -1 * subtitle.offsetWidth, duration: 0.2 }, "-=0.2");
    tl.set(title, { scale: 0 });
    tl.set(subtitle, { scale: 0 });
    tl.to(
      background,
      { x: title.offsetWidth, width: 0, duration: 0.4 },
      "-=0.1"
    );
    tl.to(
      outersquare,
      { scale: 0, ease: "power3.out", duration: 0.2 },
      "-=0.2"
    );
    tl.to(icon, { scale: 0, rotate: -90 }, "-=0.5");
  },
};
</script>

<template>
  <div ref="container" class="flex flex-row m-6 overflow-hidden">
    <div class="relative z-10">
      <div
        class="absolute left-0 right-0 z-20 w-12 h-12 mx-6 my-6 grid place-items-center"
        ref="icon"
      >
        <font-awesome-icon :icon="icon" class="text-4xl text-white" />
      </div>
      <div
        ref="outersquare"
        class="z-20 w-24 h-24 grid place-items-center"
        :class="'bg-' + this.color + '-400'"
      >
        <div
          ref="innersquare"
          class="left-0 right-0 w-24 h-24 grid place-items-center"
          :class="'bg-' + this.color + '-600'"
        ></div>
      </div>
    </div>
    <div class="relative z-0">
      <div
        ref="background"
        class="absolute z-0 w-0 h-24 mb-1 bg-gray-900"
      ></div>
      <div
        ref="progressbar"
        class="absolute z-10 w-0 h-1 mb-1"
        :class="'bg-' + this.color + '-200'"
      ></div>
      <h1
        ref="title"
        class="pl-4 mt-3 text-4xl"
        :class="'text-' + this.color + '-400'"
      >
        <slot></slot>
      </h1>
      <h1 ref="subtitle" class="pl-4 mt-1 text-2xl text-blue-100">
        {{ this.subtitle }}
      </h1>
    </div>
  </div>
</template>

<style scoped></style>
